<form action="">
  <div class="form-group">
    <label for="quote">QUOTE</label>
    <textarea
      name="quotes"
      id=""
      class="form-control"
      cols="30"
      rows="5"
    ></textarea>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="author">AUTHOR</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group col">
      <label for="quote-submitter">QUOTE SUBMITTER</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <button class="btn btn-success">Submit</button>
</form>
